:root {
    /* fonts */
    font-size: 15px;
    --font-family-title: 'Big Shoulders Display', cursive;
    --font-family-text: 'Lexend Deca', sans-serif;

    /* colors */
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* text y buttons */
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

html, body {
    color: var(--Transparent-white);
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5f7;
    background-image:  linear-gradient(30deg, #ccc 12%, transparent 12.5%, transparent 87%, white 87.5%, gray), linear-gradient(150deg, #ccc 12%, transparent 12.5%, transparent 87%, white 87.5%, gray), 
    linear-gradient(30deg, #ccc 12%, transparent 12.5%, transparent 87%, white 87.5%, gray), linear-gradient(150deg, #ccc 12%, transparent 12.5%, transparent 87%, white 87.5%,gray),
    linear-gradient(60deg, #ccc 25%, transparent 25.5%, transparent 75%, white 75%, gray), linear-gradient(60deg, #ccc 25%, transparent 25.5%, transparent 75%, white 75%, gray);
    background-size: 40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

.main-container {
    padding: 1rem;
}

.grid-card:first-of-type {
    background-color: var(--Bright-orange);
}

.grid-card:first-of-type .btn {
    color: var(--Bright-orange);
}
.grid-card:first-of-type .btn:hover {
    color: var(--color);
    border: 1px solid var(--Transparent-white);
    background-color: var(--Bright-orange);
}

.grid-card:nth-child(2) {
    background-color: var(--Dark-cyan);
}

.grid-card:nth-child(2) .btn {
    color: var(--Dark-cyan);
}
.grid-card:nth-child(2) .btn:hover {
    color: var(--color);
    border: 1px solid var(--Transparent-white);
    background-color: var(--Dark-cyan);
}

.grid-card:last-of-type {
    background-color: var(--Very-dark-cyan);
}

.grid-card:last-of-type .btn {
    color: var(--Very-dark-cyan);
}
.grid-card:last-of-type .btn:hover {
    color: var(--color);
    border: 1px solid var(--Transparent-white);
    background-color: var(--Very-dark-cyan);
}



@media screen and (max-width: 375px) {

    .main-container {
        align-items: center;
        display: flex;
        justify-content: center;    
    }

    .container-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        
        height: 80%;
        width: 90%;
    }

    .grid-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;
        border: 1px solid transparent;
    }

    .grid-card:first-of-type {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .grid-card:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .icon-container {
        margin: .7rem 0 0 0;
    }

    .text-container {
        font-family: var(--font-family-text);
        margin: 1rem;
    }

    .text-container .text-title {
        font-family: var(--font-family-title);
        font-size: 1.7rem;
        margin: 1rem auto;
    }

    .btn {
        border-radius: 1.2rem;
        border: 1px solid transparent;
        margin: 1rem 0;
        padding: 1rem 1.5rem;
    }

}

@media screen and (min-width: 375px) {

    .main-container {
        align-items: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;   
        margin: auto;
        width: 80%;
        height: 70%;
        background-color: rgb(225, 225, 225);
        -webkit-box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.33); 
        box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.33);
    }

    .container-grid {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        
        height: 60%;
        width: 60%;
    }

    .grid-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 1.2rem;
    }

    .grid-card:first-of-type {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    
    .grid-card:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .text-container {
        min-height: 50%;
        font-family: var(--font-family-text);
        justify-content: space-around;
    }

    .text-container .text-title {
        font-family: var(--font-family-title);
        font-size: 2rem;
        margin: 1rem auto;
    }

    .btn {
        min-width: 80%;
        width: auto;
        border-radius: 1.5rem;
        border: 1px solid transparent;
        padding: 1rem;
    }
}