:root {
    --bg-color-pink: rgb(254, 119, 141);
    --bg-color-orange: rgb(255, 140, 0);
    --bg-color-green: green;
    --color: white;

}
html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color);
}

.pink {
    background-color: var(--bg-color-pink);
}

.orange {
    background-color: var(--bg-color-orange);
}

.green {
    background-color: var(--bg-color-green);
}

.grid-item {
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
}


.grid-container {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


@media (max-width: 786px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}