:root {
    --bg-color-pink: rgb(254, 119, 141);
    --bg-color-orange: rgb(255, 140, 0);
    --bg-color-green: green;
    --color: white;

}
html, body, .container {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color);
}


.green {
    background-color: var(--bg-color-green);
}


.grid-container {
    margin: auto;
    width: 50%;
    height: 50%;
    display: grid;
    justify-items: center; /* Eje x */
    align-items: center; /* Eje y */
    border: 1px solid #ccc;
}

.grid-item {
    width: 50%;
    border-radius: 5px;
    padding: 1rem;
}




@media (max-width: 786px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}